p.caption {
  color: #A9A9A9;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Justified text */
.book-body .page-wrapper .page-inner section.normal p,
.book-body .page-wrapper .page-inner section.normal {
  text-align: justify !important;
  hyphens: auto;
}